version: "3"
services:
  app:
    image: docker.pkg.github.com/dewey/miniflux-sidekick/dewey-miniflux-sidekick:latest
    ports:
      - "8080:8080"
    environment:
      - MF_ENVIRONMENT=development
      - MF_PORT=8080
      - MF_USERNAME=dewey
      - MF_PASSWORD="changeme"
      - MF_API_ENDPOINT=https://rss.notmyhostna.me
      - MF_KILLFILE_URL=https://raw.githubusercontent.com/dewey/miniflux-sidekick/master/killfile
      - MF_REFRESH_INTERVAL=*/5 * * * *